/*color variables*/
:root {

  --color1: #EFEFEF;  /*almost white*/
	--color2: #E4E4E4;  /*little more grey*/
	--color3: #D8D8D8;  /*litle bit grey*/
	--color4: #8F8F8F;  /*much grey*/
	--color5: #4F4E4E;  /*almost black*/
}

/* font colors tags*/
.button a {
  color: var(--color3);
}

.logo .academy, #section3 span, #section3 p,  #section4 p, footer * {
  color: var(--color4);
}

h1, h3, .logo .colmar, .links a, .tile-header h3 {
	color: var(--color5);
}

/* background colors tags*/
.bgcolor1 {
	background-color: var(--color1);
}
.bgcolor2 {
	background-color: var(--color2);
}
.bgcolor3 {
	background-color: var(--color3);
}
.bgcolor5 {
	background-color: var(--color5);
}


/* basic tags*/
body * {
  /* border: 1px dotted black; */
  font-size: 16px;
	font-family: Verdana, Serif;
}

h1 {
  width: 100%;
  font-size: 2.25rem;
	line-height: 3rem;
}

h3 {
	font-size: 1.25rem;
	line-height: 2rem;
}

h1, h3 {
  font-weight: bold;
  margin-bottom: 2rem;
}

p, span {
  line-height: 1.25rem;
  margin: 0.5rem 0rem;
}

a {
	 text-decoration: none;
}



/*display common styles */
nav, footer, .logo, .image-cards, .image-card, .image-card-right,
.section, .subsection-textbox, #section1, #section1 .subsection-right,
.image-cards, .links, .section-header {
	display: flex;
	align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

/*visibility of elements for mobile/desktop */
.image-card-left.desktop {
  display: inline;
}

.links img, .image-card-left.mobile, #section3-mobile, .desktop {
  display: none;
}


/*********** PAGE SECTION STYLES ***************/

/*header and footer: logo, links etc.*/
.logo .colmar, .logo .academy {
	font-weight: bold;
}

.logo img, .links img {
	height: 40px;
}

nav, footer {
	height: 64px;
	justify-content: space-between;
	padding: 0px 24px;
}

.links a {
	margin-left: 16px;
}

footer {
  border-top: 1px solid var(--color4);
}
footer *, .small-text span {
  font-size: 0.85rem;
}


/*styles common for all four big page-sections:*/

.section {
	align-items: flex-start;
	padding: 32px 0px 32px 24px;
}

.subsection-right {
  width: 38%;
}

.subsection-left {
	width: 58%;
  padding: 0px 24px 16px 0px;
}

.subsection-textbox {
  width: 90%;
  flex-direction: column;
  align-items: flex-start;
}

.section-header {
  width: 100%;
  text-align: center;
}
.section-header h1 {
  padding: 16px 0px 24px 0px;
  margin-bottom: 0px;
}


/*style of image-cards and video card*/

.subsection-left img, video {
  min-width: 400px;
  height: auto;
}

.image img, .subsection-left img, .image-card-left img, video {
  width: 100%;
}

.image-card h3, .image-card p {
  margin-bottom: 0.5rem;
}

.image-card-left {
  width: 33%;
  margin: 16px 0px 16px 16px;
}

.image-card-right {
  width: 63%;
}

#top-image {
  margin-top: 0px;
}


/*Styles for particular sections*/

/*1st Section */
.button {
	width: 90%;
	text-align: center;
	padding: 16px 0px;
}

/*2nd section*/

#section2 .subsection-left h1 {
  margin-top: 32px;
  margin-bottom: 24px;
}
.small-text {
  margin-top: 24px;
}

#section2 .subsection-right {
  border-left: 1px solid var(--color4);
}

#white-card1 {
   border-bottom: 1px solid var(--color4);
   margin-bottom: 3px;
 }
#white-card2 {
   border-top: 1px solid var(--color4);
   margin-bottom: 10px;
 }

/*3rd section*/
#section3 {
  padding: 32px 56px;
}

#section3, #section3 .image-card {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

#section3 .image-card {
  margin: 16px 16px;
  width: 300px;
  height: 350px;
}
#section3 .image-card .subsection-textbox {
  padding: 16px 0px 24px 16px;
}

/*3rd section - mobile version*/
.tile-header {
  width: 80%;
	text-align: center;
  margin: 12px 0px;
}

.tile-header h3 {
  padding: 16px 0px 24px 0px;
  margin: 0px 0px;
}

/*4th section*/
#section4 h3 {
  margin-top: 24px;
}



/*********** MOBILE VERSION ***************/

@media only screen and (max-width: 480px), (orientation: portrait) {

  /*display styles */

  .image-card-left.desktop, .link a span, #link-for-companies, .logo span,
  #section2 .subsection-left, #section3, #section4 .subsection-right,
  #section4 .subsection-textbox  {
    display: none;
  }

  .links img, #section3-mobile {
    display: flex;
  }

  .image-card-left.mobile {
    display: inline;
  }

  .subsection-textbox,  .image-card-right {
    justify-content: flex-start;
  }

  /*styles for page-sections:*/

  .section, #section3, .subsection-left {
  	padding: 0px 0px 32px 0px;
  }

  .subsection-right {
    padding: 32px 16px;
  }

  .subsection-left, .subsection-right, .image-card-left, .image-card-right {
    width: 100%;
  }

  .subsection-textbox .button {
    width: 70%;
  }


  /*styles of image cards*/

  #white-card1, #white-card2 {
    border: 0px;
    margin-bottom: 3px;
  }

  .image-card {
    flex-direction: column;
    padding-bottom: 32px;
  }

  .image-card-left {
    margin: 16px 0px;
  }
  .image-card-right {
    margin-left: 16px;
  }
  .links img {
    margin-left: 64px;
  }
}
