/*color variables*/
:root {

  --color1: #EFEFEF;  /*almost white*/
	--color2: #E4E4E4;  /*little more grey*/
	--color3: #D8D8D8;  /*litle bit grey*/
	--color4: #8F8F8F;  /*much grey*/
	--color5: #4F4E4E;  /*almost black*/
}

.bgcolor1 {
	background-color: var(--color1);
}
.bgcolor2 {
	background-color: var(--color2);
}
.bgcolor3 {
	background-color: var(--color3);
}

/* basic tags*/

body * {
    /* border: 1px dotted black; */
    font-size: 16px;
		font-family: Verdana, Serif;
}

h1 {
  width: 100%;
  font-size: 2.25rem;
	line-height: 3rem;
}

h3 {
	font-size: 1.25rem;
	line-height: 2rem;
}

h1, h3 {
  font-weight: bold;
  margin-bottom: 2rem;
}

p, span {
  line-height: 1.25rem;
  margin: 0.5rem 0rem;
}

a {
	 text-decoration: none;
}


/* font colors tags*/

h1, h3, .logo .colmar, .links a {
	color: var(--color5);
}

.logo .academy {
	color: var(--color4);
}


/*f;exbox common style */

nav, .logo, .image-cards, .image-card, .image-card-right, .subsection-texbox
, #section1, #section1 .subsection-right, .image-cards {
	display: flex;
	align-items: center;
  justify-content: center;
}

.logo .colmar, .logo .academy {
	font-weight: bold;
}

.logo img {
	height: 32px;
}

nav {
	height: 64px;
	justify-content: space-between;
	padding: 0px 24px;
}


.links a {
	margin-left: 16px;
}


/*styles common for all four big page-sections:*/

.section {
	display: flex;
	justify-content: left;
	align-items: flex-start;
	padding: 24px 0px 24px 32px;
}

.subsection-right {
  width: 40%;
}

.subsection-left {
	width: 60%;
  padding-right: 24px;
}

.subsection-texbox {
  width: 80%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}


/*style of image-cards*/

video, .image img, .subsection-left img, .image-card-left img {
  width: 100%;
}

.image-cards {
    width: 100%;
    flex-wrap: wrap;
}

.image-card h3, .image-card p {
  margin-bottom: 0.5rem;
}

.image-card-left {
  width: 35%;
  margin: 16px 0px 16px 16px;
}

.image-card-right {
  width: 65%;
  justify-content: center;
}

#top-image {
  margin-top: 0px;
}


/*Styles for particular sections*/

/*1st Section */
.subsection-texbox .button {
	width: 90%;
	background-color: var(--color5);
	text-align: center;
	padding: 16px 0px;
}
.button a {
	color: var(--color3);
}

/*2nd section*/

#section2 .subsection-left h1 {
  margin-top: 32px;
  margin-bottom: 24px;
}
.small-text {
  margin-top: 24px;
}
.small-text span {
  font-size: 0.8rem;
}

#section2 .subsection-right {
  border-left: 1px solid var(--color4);
}

#white-card1 {
   border-bottom: 1px solid var(--color4);
   margin-bottom: 3px;
 }
#white-card2 {
   border-top: 1px solid var(--color4);
   margin-bottom: 10px;
 }

 #header1 h1, #header2 h1 {
   padding-top: 32px;
   margin-bottom: 0px;
   text-align: center;
 }

/*3rd section*/
#section3 {
  padding: 32px 56px;
}

#section3, #section3 .image-card {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

#section3 .image-card {
  margin: 32px 16px;
  width: 300px;
  height: 325px;
}
#section3 .image-card .text {
  padding: 0px 0px 24px 16px;
}

#section3 span, #section3 p,  #section4 p {
    color: var(--color4);
}

/*4th section*/
#section4 h3 {
  margin-top: 24px;
}
